#admin_home_data{
	margin:150px auto; width:400px; text-align:left; 
}
#admin_home_data> h1{
	color:#2ECCFA; margin-bottom:20px; text-align:center; 
}
#admin_home_data >h3{
	color:#2ECCFA; width:400px; float:left; text-align:right; 
	padding:3px; margin-top:5px;
}
#admin_home_data>h3>strong{
	color:#024; width:150px;  float:right; text-align:left; margin-left:20px;
}