*{margin:0px; padding:0px;}
a{
	text-decoration:none; color:black; font-size:18px;
}/*primary defination about the site*/
body{
	background-color:#fff; margin:0px; padding:0px; 
}
/*body style defination end*/

.header{
	background-color:#024; min-height:70px; 
}
.header>header{
	color:#2ECCFA; padding:8px 5px; width:1024px; margin:0px auto;
}
.header>header>h1:hover{
	text-shadow:0px 0px 1px red; 
}
/*header section defination end*/

.menu{
	 padding:0px 0px; width:1024px; margin:0px auto; text-align:right; 
}
#primary_nav_wrap{
	margin-top:20px; width:1024px;
}
#primary_nav_wrap ul{
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0;
}
#primary_nav_wrap ul a{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:900;
	font-size:14px;
	line-height:32px;
	padding:0 15px; 
	box-shadow:0px 0px 1px red; background:#024;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#primary_nav_wrap ul a:hover{
	color:#999; 
}
#primary_nav_wrap ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	text-align:left;
}
#primary_nav_wrap ul li.current-menu-item a{
	background:#111;
}
#primary_nav_wrap ul li:hover{
	background:#f6f6f6;	
}
#primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}
#primary_nav_wrap ul ul li{
	float:none;
	width:200px;
}
#primary_nav_wrap ul ul a{
	line-height:120%;
	padding:10px 15px;
}
#primary_nav_wrap ul ul ul{
	top:0;
	left:100%;
}
#primary_nav_wrap ul li:hover > ul{
	display:block;
}
/*menu defination end*/

.container{
	margin:0px; padding:0px; background:white;
}
.container-fluid{
	box-shadow:0px 0px 1px #024;
	width:1024px;  margin:0px auto; padding:5px 0px;
	min-height:500px; border-radius:5px;
}

#login_form{
	max-width:350px; margin:130px auto; box-shadow:0px 0px 1px #056; padding:40px 10px;
}
#login_form>#form_data{
	margin:4px 0px; font-size:18px;   padding:5px 10px;
	font-weight:bold; 
}
#login_form>#form_data>label{
	color:#024; float:left; width:100px; text-align:right;
}
#login_form>#form_data>input[type='text'],input[type='password']{ 
	margin-left:10px; width:200px; text-align:center; font-size:18px;
}
#login_form>#form_data>input[type='submit']{
	padding:4px 15px; font-size:16px; font-weight:bold; margin-left:110px; width:205px;
	margin-top:10px;
}
/*login form definatoin section*/
#add_employee_form{
	max-width:400px; margin:100px auto; box-shadow:0px 0px 1px #056; padding:40px 10px;
}
#add_employee_form>#add_emp_data{
	margin:4px 0px; font-size:18px;   padding:5px 10px;
	font-weight:bold; 
}
#add_employee_form>#add_emp_data>label{
	color:#024; float:left; width:150px; text-align:right;
}
#add_employee_form>#add_emp_data>input[type='text'],input[type='password'],input[type='date']{ 
	margin-left:10px; width:200px; text-align:center; font-size:18px;
}
#add_employee_form>#add_emp_data>input[type='submit']{
	padding:2px 15px; font-size:16px; font-weight:bold; margin-left:110px; width:205px;
	margin-top:20px;
}
#add_employee_form>#add_emp_data>input[type='radio']{
	margin-left:5px; 
}
/*emp_form defination section*/

.footer{               
	margin:0px 0px; padding:10px; min-height:40px; background-color:#024;
}
.footer>.footer-fluid{
	width:1024px; margin:0px auto; color:#2ECCFA;
}
.footer>.footer-fluid>footer>h2{ padding:3px 10px 0px 3px; font-size:16px; float:right;}
.footer>.footer-fluid>footer>h3{ padding:3px 0px 0px 10px; font-size:16px; float:left;}
.footer>.footer-fluid>footer>h2>a{color:#a8a8a8;}
.footer>.footer-fluid>footer>h2>a:hover{color:teal;}
/*footer defination section*/