#product_table{  margin:0px auto; height:400px;}
#product_table tr{ font-size:18px; padding:2px; text-align:center; }
#product_table th{background-color:#024; padding:5px 0px; color:white; height:50px;}
#product_table th,td{width:200px; padding:5px 0px; }
#link_page {margin-top:50px;}
#link_a{color:red; font-size:50px;}