#show_emp_admin{
	 width:900px; margin:20px auto;  text-align:left; 
}
#show_emp_admin>#emp_data{
	width:295px; margin:4px auto; float:left; border-radius:10px;
	min-height:150px; box-shadow:0px 0px 1px black;
}
#show_emp_admin>#emp_data:hover{box-shadow:0px 0px 2px #2ECCFA; background:#E0F8F7; }
#show_emp_admin>#emp_data>#data{
	width:285px;  margin:0px auto; padding-top:5px; padding-left:10px; padding-bottom:5px;
	font-weight:bold;
}
strong{ color:#2ECCFA; width:200px; margin-right:10px;  text-align:right;}
b{ color:#2ECCFA; width:200px; margin-right:10px; text-align:right;}
#show_emp_admin>#emp_data>#tool{
	 width:50px; margin:5px auto 0px; text-align:center; width:200px; 
	 
	padding:5px; background:#999999; font-weight:bold; border-radius:10px;
}
#show_emp_admin>#emp_data>#tool:hover{ background:#024; color:#2ECCFA; }
.clear{clear:both;}