#view_all{
	 padding:5px; margin:10px auto; text-align:center; width:880px;
}
#view_all>#single_data{
	background:#e7e7e7;
	margin:6px; width:48%;float:left;
}
#view_all>#single_data>a{
	display:block; font-size:20px; text-align:center; 
	padding:40px 20px; font-weight:bold;
}
#view_all>#single_data>a:hover{
	box-shadow:0px 0px 2px red; font-size:20px;
	background:#024; color:#2ECCFA;
}